//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 18 15:38:48 2017
//! **************************************************************************

SCHEMATIC START;
PIN clock_gen/clkout1_buf_pin<1> = BEL "clock_gen/clkout1_buf" PINNAME O;
PIN "clock_gen/clkout1_buf_pin<1>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "o_LEDData" LOCATE = SITE "P16" LEVEL 1;
COMP "i_MMC_DO" LOCATE = SITE "P143" LEVEL 1;
COMP "i_CLK" LOCATE = SITE "P14" LEVEL 1;
COMP "i_RXD1" LOCATE = SITE "P9" LEVEL 1;
COMP "i_RXD2" LOCATE = SITE "P11" LEVEL 1;
COMP "i_Eth_INT" LOCATE = SITE "P21" LEVEL 1;
COMP "o_LEDLatch" LOCATE = SITE "P15" LEVEL 1;
COMP "io_MuxEthUSB<0>" LOCATE = SITE "P43" LEVEL 1;
COMP "o_DIPLatch" LOCATE = SITE "P2" LEVEL 1;
COMP "io_MuxEthUSB<1>" LOCATE = SITE "P41" LEVEL 1;
COMP "o_PSCLK" LOCATE = SITE "P133" LEVEL 1;
COMP "io_MuxEthUSB<2>" LOCATE = SITE "P44" LEVEL 1;
COMP "io_MuxEthUSB<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "io_USB_IFCLK" LOCATE = SITE "P29" LEVEL 1;
COMP "io_MuxEthUSB<4>" LOCATE = SITE "P45" LEVEL 1;
COMP "io_MuxEthUSB<5>" LOCATE = SITE "P32" LEVEL 1;
COMP "io_MuxEthUSB<6>" LOCATE = SITE "P33" LEVEL 1;
COMP "io_MuxEthUSB<7>" LOCATE = SITE "P34" LEVEL 1;
COMP "io_MuxEthUSB<8>" LOCATE = SITE "P35" LEVEL 1;
COMP "io_MuxEthUSB<9>" LOCATE = SITE "P40" LEVEL 1;
COMP "io_Data<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "io_Data<1>" LOCATE = SITE "P57" LEVEL 1;
COMP "io_Data<2>" LOCATE = SITE "P58" LEVEL 1;
COMP "io_Data<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "i_DIPData" LOCATE = SITE "P134" LEVEL 1;
COMP "io_Data<4>" LOCATE = SITE "P55" LEVEL 1;
COMP "io_Data<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "i_SYS_RESET" LOCATE = SITE "P47" LEVEL 1;
COMP "io_Data<6>" LOCATE = SITE "P50" LEVEL 1;
COMP "io_Data<7>" LOCATE = SITE "P48" LEVEL 1;
TIMEGRP clock_gen_clkout0 = BEL "dipReader/cnt_31" BEL "dipReader/cnt_4" BEL
        "dipReader/cnt_3" BEL "dipReader/cnt_2" BEL "dipReader/cnt_1" BEL
        "dipReader/cnt_0" BEL "dipReader/tmp_in_0" BEL "dipReader/tmp_in_1"
        BEL "dipReader/tmp_in_2" BEL "dipReader/tmp_in_3" BEL
        "dipReader/tmp_in_4" BEL "dipReader/tmp_in_5" BEL "dipReader/tmp_in_6"
        BEL "dipReader/tmp_in_7" BEL "dipReader/tmp_in_8" BEL
        "dipReader/tmp_in_9" BEL "dipReader/tmp_in_10" BEL
        "dipReader/tmp_in_11" BEL "dipReader/tmp_in_12" BEL
        "dipReader/tmp_in_13" BEL "dipReader/tmp_in_14" BEL
        "dipReader/tmp_in_15" BEL "ledDriver/cnt_31" BEL "ledDriver/cnt_4" BEL
        "ledDriver/cnt_3" BEL "ledDriver/cnt_2" BEL "ledDriver/cnt_1" BEL
        "ledDriver/cnt_0" BEL "ledDriver/LED_data" BEL "dipReader/DIP_latch"
        BEL "ledDriver/LED_latch" BEL "dipReader/cnt_31_1" BEL
        "ledDriver/cnt_31_1" BEL "dipReader/cnt_31_2" BEL "o_PSCLK" BEL
        "clock_gen/clkout1_buf";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN clock_gen/pll_base_inst/PLL_ADV_pins<2> = BEL
        "clock_gen/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP i_CLK = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "clock_gen/pll_base_inst/PLL_ADV_pins<2>";
TS_i_CLK = PERIOD TIMEGRP "i_CLK" 50 MHz HIGH 50%;
TS_clock_gen_clkout0 = PERIOD TIMEGRP "clock_gen_clkout0" TS_i_CLK * 0.1 HIGH
        50%;
SCHEMATIC END;

